/* Projects design */

.projectsDiv {
    padding: 20px;
    padding-top: 10px;
    text-align: center;
}

div.insideProjects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projectsTitle {
    text-align: center;
}

.oblivion {
    max-width: 200px;
    height: auto;
}

.leoLogo {
    max-width: 220px;
    height: auto;
    border-radius: 10px;
}

.guessApp {
    padding-top: 30px;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.mealApp {
    padding-top: 30px;
    max-width: 230px;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 550px){
    div.insideProjects {
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
    }
    .oblivion {
        max-width: 300px;
        height: auto;
    }
    
    .leoLogo {
        max-width: 320px;
        height: auto;
    }
}