/* Projects design */

.projectsDiv {
    padding: 20px;
    padding-top: 10px;
}

div.insideProjects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projectsTitle {
    text-align: center;
}

.oblivion {
    max-width: 200px;
    height: auto;
}

.leoLogo {
    max-width: 220px;
    height: auto;
}