/* Body and universal design */

body {
    margin: 0%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: black;
}

.container {
    position: relative;
}

/* Titles and line */

h1 {
    text-align: center;
    margin-top: 50px;
}

.line {
    display: block;
    width: 290px;
    height: 3px;
    padding: 0!important;
    background: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    float: none;
}

/* My name text background */

div.introText {
    background-color: black;
    padding: 40px;
}

/* My name with gif background */

h1.banner {
    font-size: 20vh;
    max-width: 100%;
    height: 80vh;
    /* background: url("https://media0.giphy.com/media/2hgs0P312wdBCOgOAf/giphy.gif"); */
    background: url("https://media1.giphy.com/media/l1J9ENegnLn0JxY4g/giphy.gif");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

/* Header design */

header {
    position: sticky;
    top: 0;
    height: 40px;
    background: #000;
    padding: 0 100px;
    text-align: center;
    border-bottom: 1px solid white;
}

/* Design for nav buttons */

ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    /* height: 50px; */
    text-align: center;
}

ul li {
    list-style: none;
    line-height: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
}

/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Main content design */

.content {
    width: 100%;
    box-sizing: border-box;
}

/* About me image design  */

p img.meImage {
    max-width: 40%;
    float: left;
    margin-right: 25px;
}

/* About me div designs */

.aboutMeDiv {
    padding: 20px;
    padding-top: 10px;
}

div.aboutMe {
    display: flex;
    flex-direction: column-reverse;
}

/* Skills design */

.skillsDiv {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

div.skills {
    display: flex;
    justify-content: space-evenly;
}

.skillsTitle {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}

/* Experience design */

.experienceDiv {
    padding: 20px;
    padding-top: 10px;
}

div h4 {
    font-style: italic;
}

div.insideExperience {
    display: flex;
}

/* Education design */

.educationDiv {
    padding: 20px;
    padding-top: 10px;
    background-color: black;
    color: white;
}

div h4 {
    font-style: italic;
}

div.insideEducation {
    display: flex;
    justify-content: space-evenly;
}